@using TravelTripProje.Models.Classes
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}
    <h2>Blog Listesi</h2>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Sil</th>
            <th>Detaylar</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.ID</td>
            <td>@x.Title</td>
            <td><a href="/Admin/DeleteBlog/@x.ID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-secondary">Detaylar</a></td>
            <td><a href="/Admin/FindBlog/@x.ID" class="btn btn-outline-warning">Güncelle</a></td>
        </tr>
        }
    </table>
<a href="/Admin/NewBlog/" class="btn btn-outline-primary">Yeni Blog</a>

