
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Deneme</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
</table>