@using TravelTripProje.Models.Classes
@model List<Blog>
@{ int count = 0;}
<div class="padding">
    <h4>Bu haftaki 10 blog</h4>
    <ul class="list list-pad">
        
        @foreach (var x in Model)
        {
        <li class="list-bg"><span>@{ count++;} @count.</span><a href="~/blog/BlogDetay/@x.ID">@x.Title</a></li>
        }
        
    </ul>
    <a href="/blog/Index/" class="link1">Tüm Blogları Gör</a>
</div>